.main {
  background: #333;
  padding: 30px;
  margin: 50px auto;
  max-width: 700px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.main h1 {
  font-size: 2em;
  text-align: center;
  color: #fff;
}
