.main {
  background: #333;
  padding: 30px;
  margin: 50px auto;
  max-width: 700px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.main h1 {
  font-size: 2em;
  text-align: center;
  color: #fff;
}

.form {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input[type="text"] {
  height: 40px;
  padding: 0 20px;
  font-size: 1.5rem;
  border: 1px solid #ccc;
  min-width: 80%;
}

.form button[type="submit"] {
  border: none;
  height: 40px;
  width: 40px;
  background: #07b833;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form button[type="submit"]:hover {
  background: #08a12f;
}

.tarefas {
  margin-top: 30px;
}

.tarefas li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  transition: all 0.2s;
  margin: 15px 0;
}

.tarefas li {
  background: #2581d8;
}

.tarefas li:hover {
  background: #2569a8;
}

.tarefas li .edit {
  margin-right: 15px;
  color: #096fb3;
}

.tarefas li .delete {
  margin-right: 15px;
  color: #c20717;
}

.tarefas li:hover .delete,
.tarefas li:hover .edit {
  color: #252525;
}

.tarefas li .edit,
.tarefas li .delete {
  cursor: pointer;
  transition: all 0.2s;
}

.tarefas li span {
  display: flex;
  align-items: center;
}
